table {
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    padding: 8px;
    border: 1px solid #000;
}

.dotted {
    border: 4px dotted blue;
}

.focussed {
    color: #fff;
    background-color: blue;
}